@model SalesCrm.Controllers.ViewModels.PaymentRecordViewModel

@{
    ViewData["Title"] = "CreatePaymentSlip";
}

<div class="col-md-12">
    <div class="card">
        <div class="card-body">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb"
                    style="margin:0!important;padding:1px;">
                    <li class="breadcrumb-item">
                        <a asp-controller="News" asp-action="Index">Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a asp-action="Index">Payment Record list</a>
                    </li>
                    <li class="breadcrumb-item active">
                        <a aria-current="page">New Record</a>
                    </li>
                </ol>
            </nav>
            <hr style="opacity:0.5!important"/> <br/>

            <form method="post" enctype="multipart/form-data" asp-action="Create">

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="row">
                    <div class="col-6">
                        <div class="form-group indent">
                            <label asp-for="EmployeeId" class="form-label"></label>
                            <select asp-for="EmployeeId" asp-items="@ViewBag.Employees" class="form-control">
                                <option>Please select employee</option>
                            </select>
                            <span asp-validation-for="EmployeeId" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col-6">
                        <div class="form-group indent">
                            <label asp-for="TaxYearId" class="form-label"></label>
                            <select asp-for="TaxYearId" asp-items="@ViewBag.TaxYear" class="form-control">
                                <option>Select Tax Year</option>
                            </select>
                            <span asp-validation-for="TaxYearId" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-4">
                        <div class="form-group indent">
                            <label asp-for="PayMonth" class="form-label"></label>
                            <select asp-for="PayMonth" class="form-control">
                                <option selected>-- Select Month --</option>
                                <option>January</option>
                                <option>February</option>
                                <option>March</option>
                                <option>April</option>
                                <option>May</option>
                                <option>June</option>
                                <option>July</option>
                                <option>August</option>
                                <option>September</option>
                                <option>October</option>
                                <option>November</option>
                                <option>December</option>
                            </select>
                            <span asp-validation-for="PayMonth" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col-4">
                        <div class="form-group indent">
                            <label asp-for="HourlyRate" class="form-label"></label>
                            <input asp-for="HourlyRate" class="form-control" placeholder="Enter name"/>
                            <span asp-validation-for="HourlyRate" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col-4">
                        <div class="form-group indent">
                            <label asp-for="HoursWorked" class="form-label"></label>
                            <input asp-for="HoursWorked" class="form-control" placeholder="Enter name"/>
                            <span asp-validation-for="HoursWorked" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <br/>
                <!-- ============================================================== -->
                <!-- Edit button -->
                <div class="row mt-2">
                    <div class="col-3">
                        <button type="submit" class="btn btn-rounded btn-primary">
                            Create
                        </button>
                    </div>
                </div>
                <!-- ============================================================== -->
            </form>
        </div>
    </div>
</div>

<style>
    .indent {
        margin-top: 20px!important;
    }
</style>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}