@model Payroll.Controllers.ViewModels.ErrorViewModel

@{
    ViewData["Title"] = "Error";
}

<br/>
<h1 class="text-danger">@Model.Message: <strong>@Model.StatusCode</strong></h1>

<h3 class="text-danger">An error occurred while processing your request.</h3>

<br/>
@if (Model is {ShowRequestId: true})
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}
