@model Microsoft.AspNetCore.Identity.IdentityRole
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Edit Role";
}

<!-- Breadcrumb -->
<nav aria-label="breadcrumb">
    <a asp-action="Index" class="btn btn-secondary">< Back to list</a>
    <br/>
    <br/>
</nav>

<div class="row d-flex justify-content-start">
    <div class="col-md-8">
        <h4>Edit role</h4>
        <hr/>
        <br/>
        <form method="post" action="">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control"/>
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>
            <br/>
           <button type="submit" class="btn btn-primary">Update</button>
        </form>
    </div>
</div>