@{
    ViewData["Title"] = "Admin Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome Admin</h1>
    <div style="width:200px;">
        <ul>
            <li>
                <a href="/admin/users">Users</a>
            </li>
        </ul>
    </div>
</div>