@model Payroll.Controllers.ViewModels.NewsViewModel

@{
   ViewData["Title"] = "Create News";
   ViewData["List"] = "News List";
}

<div class="col-md-12">
   <div class="card">
      <div class="card-body">

         <!-- Breadcrumb -->
         @await Html.PartialAsync("_BreadcrumbPartial", new[]
                 {
         "Admin", @ViewData["List"], @ViewData["Title"]
         })
         <br />

         <!-- Title -->
         <div class="row">
            <div class="col-md-12">
               <h2 class="page-title">@ViewData["Title"]</h2>
            </div>
         </div>
         <br />

         <!-- Form -->
         <form method="post">
            @Html.AntiForgeryToken()
            <div class="row">
               <div class="col-md-6 col-12">
                  <div class="mb-3">
                     <div class="form-group">
                        <label asp-for="Title" class="form-label"></label>
                        <input asp-for="Title" class="form-control" placeholder="Enter title" />
                        <span asp-validation-for="Title" class="text-danger"></span>
                     </div>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-md-6 col-12">
                  <div class="mb-3">
                     <div class="form-group">
                        <label asp-for="Description" class="form-label"></label>
                        <textarea asp-for="Description" type="text" class="form-control" placeholder="Enter text"></textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                     </div>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-md-6 col-12">
                  <div class="mb-3">
                     <div class="form-group">
                        <label class="form-label">Create date</label>
                        <input asp-for="CreatedAt" type="date" class="form-control" />
                        <span asp-validation-for="CreatedAt" class="text-danger"></span>
                     </div>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-md-6 col-12">
                  <div class="mb-3">
                     <div class="form-group">
                        <label asp-for="PublishedAt" class="form-label"></label>
                        <input type="text" class="form-control date" id="publishedAt" disabled />
                     </div>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-4">
                  <label class="form-label">Is active</label>
                  <input type="checkbox" checked="checked" asp-for="IsActive" disabled>
               </div>
            </div>
            <div class="row">
               <div class="col-md-6">
                  <button type="submit" class="btn btn-rounded btn-primary">Create</button>
               </div>
            </div>
         </form>
      </div>
   </div>
</div>

@section Scripts
{
   @{
      await Html.RenderPartialAsync("_ValidationScriptsPartial");
   }

   <script>
      document.addEventListener("DOMContentLoaded", function () {
         var dateInput = document.getElementById("publishedAt");
         var currentDate = new Date();
         dateInput.value = currentDate.toLocaleDateString();
      });
   </script>
}