@model object?[]

<nav aria-label="breadcrumb">
    <ol class="breadcrumb" style="margin:0!important;padding:1px">
        <li class="breadcrumb-item">
            <a asp-controller="News" asp-action="Index">
                Home
            </a>
        </li>
        <li class="breadcrumb-item">
            <a asp-action="Index">
                @Model[0]
            </a>
        </li>
        <li class="breadcrumb-item active">
            <a aria-current="page">
                @Model[1]
            </a>
        </li>
    </ol>
</nav>


<style>
    th {
        background-color: #e9eaf5;
    }

    a {
        text-decoration: none;
    }

    a:hover {
        color: #0319eb;
        /*text-decoration: underline;*/
    }
</style>