<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>@ViewData["Title"] - SalesCrm</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="SalesCrm" name="description"/>

    <!-- App favicon -->
    <link rel="shortcut icon" href="/logo/favicon.ico">

    <!-- third party css -->
    <link href="/assets/css/vendor/jquery-jvectormap-1.2.2.css" rel="stylesheet" type="text/css"/>

    <!-- App css -->
    <link href="/assets/css/icons.min.css" rel="stylesheet" type="text/css"/>
    <link href="/assets/css/app.min.css" rel="stylesheet" type="text/css" id="light-style"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet"/>
</head>

<body class="loading"
      data-layout-config='{"leftSideBarTheme":"dark","layoutBoxed":false, "leftSidebarCondensed":false, "leftSidebarScrollable":false,"darkMode":false, "showRightSidebarOnStart": true}'>
<!-- Begin page -->
<div class="wrapper">
    <!-- ========== Left Sidebar Start ========== -->
    <div class="leftside-menu">
        <!-- LOGO -->
        <a href="index.html" class="logo text-center logo-light">
            <span class="logo-lg">
                <img src="/logo/logo.png" alt="" height="60" style="margin-top:10px">
                <a style="text-align:center;display:block;color:azure;padding:15px">
                    Manager panel
                </a>
            </span>
        </a>
        <div class="h-100" id="leftside-menu-container" data-simplebar>
            <!--- Sidemenu -->
            <ul class="side-nav">
                <li class="side-nav-item">
                    <a href="/news" class="side-nav-link">
                        <i class="uil-rss" style="margin:15px"></i>
                        <span> News </span>
                    </a>
                </li>
            </ul>

            <!-- End Sidebar -->
            <div class="clearfix"></div>
        </div>
        <!-- Sidebar -left -->
    </div>
    <!-- Left Sidebar End -->
    <!-- ============================================================== -->
    <!-- Start Page Content here -->
    <!-- ============================================================== -->

    <div class="content-page">
        <!-- Topbar Start -->
        <div class="navbar-custom">
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow"
                 style="padding: initial;">
                <button class="button-menu-mobile open-left">
                    <i class="mdi mdi-menu"></i>
                </button>
                <div class="container-fluid">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                        Admin panel
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1 nav">
                            <!-- News controller-->
                            <li class="nav-item">
                                <a class="nav-link a" asp-area="" asp-controller="News" asp-action="Index">
                                    News
                                </a>
                            </li>
                            <!-- ============================================================== -->

                            <!-- Roles controller-->
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Roles" asp-action="Index">
                                    Roles
                                </a>
                            </li>
                            <!-- ============================================================== -->

                            <!-- Roles controller-->
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Users" asp-action="Index">
                                    Users
                                </a>
                            </li>
                            <!-- ============================================================== -->
                            
                            <!-- Employee controller-->
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Employee" asp-action="Index">
                                    Employees
                                </a>
                            </li>

                            <!-- ============================================================== -->
                            <!-- TaxYear controller-->
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="TaxYear" asp-action="Index">
                                    Tax-Year
                                </a>
                            </li>

                            <!-- ============================================================== -->
                            <!-- PaymentSlip controller-->
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="PaymentSlip" asp-action="CreatePaymentSlip">
                                    Payment-Slip
                                </a>
                            </li>

                            @* <li class="nav-item"> *@
                            @*     <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="Privacy"> *@
                            @*         Privacy *@
                            @*     </a> *@
                            @* </li> *@
                        </ul>
                        <partial name="_LoginPartial"/>
                    </div>
                </div>
            </nav>
        </div>
        <!-- end Topbar -->

        <div class="content">
            <!-- Start Content-->
            <div class="container-fluid" style="margin-top:20px">
                @RenderBody()
            </div>
        </div>
        <!-- content -->

        <!-- Footer Start -->
        <footer class="footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6">
                        <script> document.write(new Date().getFullYear())</script>
                        © SalesCrm - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                    </div>
                    <div class="col-md-6">
                        <div class="text-md-end footer-links d-none d-md-block">
                            <a href="javascript: void(0);">About</a>
                            <a href="javascript: void(0);">Support</a>
                            <a href="javascript: void(0);">Contact Us</a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- end Footer -->
    </div>
</div>
<!-- END wrapper -->

<!-- bundle -->
<script src="/assets/js/vendor.min.js"></script>
<script src="/assets/js/app.min.js"></script>

<!-- third party js -->
<script src="/assets/js/vendor/apexcharts.min.js"></script>
<script src="/assets/js/vendor/jquery-jvectormap-1.2.2.min.js"></script>
<script src="/assets/js/vendor/jquery-jvectormap-world-mill-en.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
<!-- third party js ends -->

@await Component.InvokeAsync("NToastNotify")
@await RenderSectionAsync("Scripts", required: false)

</body>
</html>