<div class="form-group">
    <label class="form-label">Search keywords:</label>
    <div class="input-group">
        <input type="text" class="form-control"
               name="keyword" placeholder="Enter keywords..."
               value="@ViewBag.keyword">
        <button class="btn btn-secondary" type="submit">Search</button>

    </div>
</div>
