@page
@model NewsModel
@{
    ViewData["Title"] = "News Page";
}

<h1 class="display-4 text-center">
    @ViewData["Title"]
</h1>

<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box">

            <h4 class="page-title" style="line-height:15px;">News</h4>
            <br/>
            
            <ul>
                @foreach (var item in Model.News)
                {
                    <li>
                        Title:<span>@item.Title</span>
                        Text:<span>@item.Text</span>
                        Date:<span>@item.Date.ToString("yyyy.MM.dd HH:mm")</span>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>
<!-- end page title -->