@model string

<nav aria-label="breadcrumb">
    <ol class="breadcrumb" style="margin:0!important;padding:1px;">
        <li class="breadcrumb-item">
            <a asp-controller="News" asp-action="Index">Home</a>
        </li>
        <li class="breadcrumb-item">
            <a asp-action="Index">News List</a>
        </li>
        <li class="breadcrumb-item active">
            <a aria-current="page">@Model</a>
        </li>
    </ol>
</nav>
