@using Microsoft.AspNetCore.Mvc.ModelBinding
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Payroll.Controllers.ViewModels.TaxYearViewModel

@{
    ViewData["List"] = "Tax Year list";
    ViewData["Title"] = "Create Tax Year";
}

<div class="col-md-12">
    <div class="card">
        <div class="card-body">

            <!-- Breadcrumb -->
            @await Html.PartialAsync("_BreadcrumbPartial", new[] {@ViewData["List"], @ViewData["Title"]})
            <br/>

            <!-- Title -->
            <div class="row">
                <div class="col-md-12">
                    <h2 class="page-title">@ViewData["Title"]</h2>
                </div>
            </div> <br/>

            <div class="row">
                <div class="col-md-4">
                    <form method="post">
                        @Html.AntiForgeryToken()
                        <div class="form-group">
                            <input asp-for="YearOfTax" class="form-control" placeholder="Enter year of tax"/>
                            @if (ViewData.ModelState.Any(ms => ms.Value!.Errors.Count > 0))
                            {
                                <div class="text-danger">
                                    @foreach (var entry in ViewData.ModelState)
                                    {
                                        if (entry.Key != "YearOfTax" || entry.Value.ValidationState == ModelValidationState.Invalid)
                                        {
                                            foreach (var error in entry.Value.Errors)
                                            {
                                                <p>@(error.ErrorMessage.TrimEnd('.') + ".")</p>
                                            }
                                        }
                                    }
                                </div>
                            }
                        </div> <br/>
                        <!-- Create button -->
                        <div class="row mt-2">
                            <div class="col-3">
                                <button type="submit" class="btn btn-rounded btn-primary">
                                    Create
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}