@model SalesCrm.Controllers.ViewModels.NewsViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Edit News";
}

<div class="col-md-12">
    <div class="card">
        <div class="card-body">

            <!-- Card breadcrumb -->
            @await Html.PartialAsync("_BreadcrumbPartial", new[] {"News List", @ViewData["Title"]!.ToString()})
            <!-- Card breadcrumb  -->
            <br/>

            <!-- Card title -->
            <div class="row">
                <div class="col-md-12">
                    <h2 class="page-title">@ViewData["Title"]</h2>
                </div>
            </div>
            <br/>
            @* <hr style="opacity:0.5!important"/> *@
            <!-- Card title -->

            <form method="post" action="">

                <div class="row">
                    <div class="col-md-6 col-12">
                        <div class="mb-3">
                            <div class="form-group">
                                <label asp-for="Title" class="form-label"></label>
                                <input asp-for="Title" class="form-control" type="text"/>
                                <span asp-validation-for="Title" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 col-12">
                        <div class="mb-3">
                            <div class="form-group">
                                <label asp-for="Description" class="form-label"></label>
                                <input asp-for="Description" class="form-control" type="text"/>
                                <span asp-validation-for="Description" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 col-12">
                        <div class="mb-3">
                            <div class="form-group">
                                <label class="form-label">Created date</label>
                                <input asp-for="CreatedAt" class="form-control date"/>
                                <span asp-validation-for="CreatedAt" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 col-12">
                        <div class="mb-3">
                            <div class="form-group">
                                <label class="form-label">Published date</label>
                                <input asp-for="PublishedAt" class="form-control date"/>
                                <span asp-validation-for="PublishedAt" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 col-12">
                        <div class="mb-3">
                            <div class="form-group">
                                <label class="form-label">Updated date</label>
                                <input type="text" class="form-control date" id="updatedAt" disabled/>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="mb-3">
                    <label class="form-label">Activity</label>
                    <input asp-for="IsActive" type="checkbox" checked="checked">
                </div>

                <div class="row mt-2">
                    <div class="col-3">
                        <button type="submit" class="btn btn-rounded btn-primary">
                            Update
                        </button>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>

@section Scripts
{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var currentDate = new Date();
            var updateDateInput = document.getElementById("updatedAt");
            updateDateInput.value = currentDate.toLocaleDateString();
        });
    </script>
}