@page "/news/create/"
@model CreateModel

@{
    ViewData["Title"] = "Create News";
}

<div class="col-md-12">
    <div class="card">
        <div class="card-body">

            <!-- Card breadcrumb -->
            @await Html.PartialAsync("_BreadcrumbPartial", new[] {"News List", @ViewData["Title"]!.ToString()})
            <!-- Card breadcrumb  -->
            <br/>

            <!-- Card title -->
            <div class="row">
                <div class="col-md-12">
                    <h2 class="page-title">@ViewData["Title"]</h2>
                </div>
            </div>
            <br/>
            @* <hr style="opacity:0.5!important"/> *@
            <!-- Card title -->

            <form method="post" asp-page-handler="Create">
                <div class="row">
                    <div class="col-md-6 col-12">
                        <div class="mb-3">
                            <div class="form-group">
                                <label asp-for="News.Title" class="form-label"></label>
                                <input asp-for="News.Title" class="form-control"/>
                                <span asp-validation-for="News.Title" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-12">
                        <div class="mb-3">
                            <div class="form-group">
                                <label asp-for="News.Description" class="form-label"></label>
                                <input asp-for="News.Description" type="text" class="form-control">
                                <span asp-validation-for="News.Description" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-3">
                        <button type="submit" class="btn btn-rounded btn-primary">
                            Create
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts
{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}