@page "Delete/{id}"
@model SalesCrm.Pages.News.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete Confirmation</h1>

<div class="alert alert-danger">
    <h5>Are you sure you want to delete employee - @Model.NewsList.ToString()</h5>
    
    <form method="post">
        <button type="submit" class="btn btn-danger">Yes</button>
        <a asp-page="/News" class="btn btn-primary">No</a>
    </form>
</div>
